In [50]:
#-----------------------------------------------------------------------------------------------------
# LOGICA E PROGRAMACAO DE COMPUTADORES
# AULA 08 - PARTE 1
# Professora: Silvia Moraes
# Exemplo 4: Listas
# ----------------------------------------------------------------------------------------------------
#Exemplos
lista = []
lista1 = ["o","menino","jogou", "a", "bola"]
lista2 = [1,2,3]

lista3 = lista2 * 3
lista4 = lista1 * 2
lista5 = lista * 4
print(lista3)
print(lista4)
print(lista5)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
['o', 'menino', 'jogou', 'a', 'bola', 'o', 'menino', 'jogou', 'a', 'bola']
[]